extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Dominique Robinson

        p.lead.text-light
          | Future Web Developer.

        .portfolio-bio
          p
            | Spending the last five years in help desk has taught me patience and how to manage user's expectations. I plan to use those skils as well as my newly acquired knowledge of Node, React, and Express to deliver 
            | code that is well organized and meets client requirements. I hope to work on projects not only challenge me to improve but, that provies or supports services to improve people's lives. I like to continuously
            | learn and improve myself so, after starting with web development I plan to explore mobile application development.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node
          li Pug
          li React
          li Java 
          li Fetch API
          li Drupal 8
          li GraphQL
        h6 Contact Info

        ul(style="list-style-type:none;")
          li
            a(href = "mailto: dominique.robinson922@gmail.com") dominique.robinson922@gmail.com

        a.button.expanded(href='www.linkedin.com/in/dominique-robinson2021') LinkedIn
        a.button.expanded(href='https://github.com/minakogirl12') GitHub
        // a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  