extends layout

block content
    a(href='/') ← Back
    h1 Oops! You seem to have encountered an error.
    h2 Error code:
    h2= error.status
    script
        | console.error('Something has gone very wrong. Please contact site owner.');